//= Iconmoon
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

// Example icon size and color override
// .icon-name {
//   font-size: 32px;
//   color: red;
// }
