$facebook-color: #4267b2 !default;

/*======= Facebook Login =======*/
.fb-login-container {
  button {
    background-color: $facebook-color;
    border-color: darken($facebook-color, 20%);
    // padding: 0 60px;
    line-height: 2em;
    width: 100%;
    .icon {
      font-size: 1.4em;
      position: absolute;
      margin-top: 0.2em;
    }
    span {
      margin-left: 30px;
    }
    &:hover, &:active, &:focus {
      background-color: darken($facebook-color, 20%);
      border-color: lighten($facebook-color, 20%);
    }
  }
  strong {
    opacity: 0.6;
    margin: 10px 0;
    text-align: center;
    display: block;
  }
}
