//- https://philipwalton.com/articles/the-google-analytics-setup-i-use-on-every-site-i-build/
//- See src/js/lib/google_analytics.js
script(async, src='https://www.google-analytics.com/analytics.js')
